@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Moderat";
  src: url("./assets/fonts/Moderat-Regular.ttf");
}
@font-face {
  font-family: "ModeratLight";
  src: url("./assets/fonts/Moderat-Light.ttf");
}
@font-face {
  font-family: "ModeratDark";
  src: url("./assets/fonts/Moderat-Bold.ttf");
}

body {
  font-family: "Moderat";
  overflow-x: hidden;
}
.font-moderat {
  font-family: "Moderat";
}
.font-mod-light {
  font-family: "ModeratLight";
}
.font-mod-dark {
  font-family: "ModeratDark";
}

.bttn {
  @apply w-full sm:w-fit flex items-center justify-center md:px-8 px-4 py-3 border border-transparent;
}

.bttn-primary {
  @apply text-white bg-[#F00530] hover:bg-red-700 rounded-[4px] focus:ring-2 focus:outline-none focus:ring-blue-300 focus:ring-opacity-50;
}
.bttn-secondary {
  @apply text-white bg-transparent border border-white rounded-[4px] focus:ring-2 focus:outline-none focus:ring-blue-300 focus:ring-opacity-50;
}
.bttn-tertiary {
  @apply text-[#F00530] bg-transparent border border-[#F00530] rounded-[4px] focus:ring-2 focus:outline-none focus:ring-blue-300 focus:ring-opacity-50;
}
.bttn-extra {
  @apply text-[#118DFF] bg-transparent focus:ring-2 rounded-[4px] focus:outline-none focus:ring-blue-300 focus:ring-opacity-50;
}
.text-incremental {
  @apply text-4xl lg:text-5xl xl:text-7xl;
}
.swiper-button-next,
.swiper-button-prev {
  color: #f00530 !important;
}

.main-wrapper {
  height: 60vh;
  margin: 10px 50px;
  filter: drop-shadow(-1px 5px 3px #ccc);
}
.info-wrapper {
  margin-top: 15px;
}
.map-details {
  text-align: center;
  font-size: 1.2em;
}
.map-details span {
  font-weight: bold;
}
.search-input {
  font-size: 1.2em;
  width: 80%;
}
